<div id="winner-box" class="winner-box">
  <p class="winner-rank"><%= usage.ordinalRank %></p>
  <div class="separator">
    <img src="<%= usage.user.avatar %>?s=420" alt="Winner-Avatar"
      class="winner-avatar" />
    <div class="user-data">
      <p class="user-name"><%= usage.user.name %></p>
      <p class="user-id"><%= usage.user.username %></p>
    </div>
    <div class="user-chart">
      <div class="user-chart-item">
        <p class="user-chart-detail">Total:</p>
        <p class="user-chart-time">
          <span><%= usage.humanReadableTotalSeconds %></span>
        </p>
      </div>
      <div class="user-chart-item">
        <p class="user-chart-detail">Daily:</p>
        <p class="user-chart-time">
          <span><%= usage.humanReadableDailyAverage %></span>
        </p>
      </div>
    </div>
  </div>
</div>
