<div class="user-box">
  <p class="user-rank">
    <%= usage.ordinalRank %>
  </p>
  <div class="report-separator report-separator--user"></div>
  <div class="user-info">
    <img src="<%= usage.user.avatar %>?s=420" alt="Avatar" class="user-avatar" />
    <div class="user-data">
      <p class="user-name">
        <%= usage.user.name %>
      </p>
      <p class="user-id">@<%= usage.user.username %>
      </p>
    </div>
  </div>
  <div class="report-separator report-separator--user"></div>
  <div class="winner-report">
    <div class="report-item report-item--user">
      <p class="report-title">Total:</p>
      <p class="report-value">
        <span>
          <%= usage.humanReadableTotalSeconds %>
        </span>
      </p>
    </div>
    <div class="report-item">
      <p class="report-title">Daily:</p>
      <p class="report-value">
        <span>
          <%= usage.humanReadableDailyAverage %>
        </span>
      </p>
    </div>
  </div>
  <div class="report-separator report-separator--user"></div>
  <%- include('diff.ejs'); %>
</div>
