<div class="winner">
  <p class="winner-rank">
    <% if (usage.rank===1 ) { %>
      <%- include('crown.svg'); %>
    <% } else { %>
      <%= usage.ordinalRank %>
    <% } %>
  </p>
  <img src="<%= usage.user.avatar %>?s=420" alt="Winner-Avatar" class="winner-avatar" />
  <%- include('diff.ejs'); %>

  <div class="winner-data">
    <p class="user-name winner-name">
      <%= usage.user.name %>
    </p>
    <p class="user-id">
      @<%= usage.user.username %>
    </p>
  </div>
  <div class='winner-report'>
    <div class="report-item">
      <p class="report-title">Total:</p>
      <p class="report-value">
        <span>
          <%= usage.humanReadableTotalSeconds %>
        </span>
      </p>
    </div>
    <div class="report-separator"></div>
    <div class="report-item">
      <p class="report-title">Daily:</p>
      <p class="report-value">
        <span>
          <%= usage.humanReadableDailyAverage %>
        </span>
      </p>
    </div>
  </div>
</div>
