<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>WakaTime LeaderBoard</title>
  <link rel="stylesheet" href="css/css-reset.css" />
  <link rel="stylesheet" href="css/fonts.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <div class="container">
    <div class="logo-container">
      <%- include('partials/logo.svg'); %>
      <p class="title">FullstacksJS Wakatime Leaderboard</p>
      <p id="date" class="date">
        <%= title %>
      </p>
    </div>

    <div class="winners">
      <%- include('partials/winner.ejs', { usage: winners[1], rank: 2 }) %>
      <%- include('partials/winner.ejs', { usage: winners[0], rank: 1 }) %>
      <%- include('partials/winner.ejs', { usage: winners[2], rank: 3 }) %>
    </div>

    <div class="usages">
      <% usages.forEach(function (usage) { %>
      <%- include('partials/user.ejs', { usage }); %>
      <% }); %>
    </div>

    <div class="social-media">
      FullstacksJS.com
    </div>
  </div>
</body>

</html>
